# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
agent-framework-foundry
agent-framework-foundry-hosting>=1.0.0a260630